body {
	margin: 0; /*kulcselem*/
	padding: 0; /*kulcselem*/
	font-size: 95%;
	font-family: georgia, times, "times new roman", serif;
	color: #000000;
	background-color: #ffffff;
}
header {
	color: #ffffff;
	background-color: #333333;
	border-bottom: 1px solid #000000;
}
header h1 {
	margin: 0; /*kulcselem*/
	font-size: 2em;
	padding: 10px 10px 10px 10px; /*kulcselem*/
}
section#bal {
	background-image: url('hatterelem.jpg');
	background-repeat: repeat-y;
	background-position: right;
}
#cleardiv {
	clear: both; /*kulcselem*/
	height: 1em; /*kulcselem*/
}
article {
	margin-left: 10px; /*kulcselem*/
	margin-right: 190px;
}
article h2 {
	margin: 0; /*kulcselem*/
}
article p {
	text-align: justify;
}
nav {
	background: #f0e7d7;
	width: 150px;
	margin: 10px;
	padding: 1em 0;
	font-family: georgia, serif;
	font-size: 13px;
	text-align: left;
	text-transform: lowercase;
	float: right;
}
ul#navlist {
	text-align: left;
	list-style: none;
	padding: 0;
	margin: 0 auto;
	width: 90%;
}
ul#navlist li {
	display: block;
	margin: 0;
	padding: 0;
}
ul#navlist li a {
	display: block;
	width: 100%;
	padding: 0.5em 0 0.5em 2em;
	border-width: 1px;
	border-color: #ffe #aaab9c #ccc #fff;
	border-style: solid;
	color: #777;
	text-decoration: none;
	background: #f7f2ea;
}
nav ul#navlist li a {
	width: auto;
}
ul#navlist li#current a {
	background: #f0e7d7;
	color: #800000;
}
ul#navlist li a:hover, ul#navlist li#current a:hover {
	color: #800000;
	background: transparent;
	border-color: #aaab9c #fff #fff #ccc;
}
section#keretes {
	margin: 0px 15px;
	padding: 5px 10px 1px 10px;
	border-left: 5px dotted #800000;
	color: #800000;
	float: right;
	width: 200px;
}
section#keretes H3 {
	margin: 0;
	padding: 4px 0 8px 0;
	font-size: 15px;
	font-weight: bold;
}
section#keretes P {
	padding: 0;
	margin: 0 0 8px 0;
	line-height: 17px;
}
